services:
  nginx-proxy:
    image: nginx
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - towers-network

  peerjs:
    image: peerjs/peerjs-server
    container_name: peerjs
    command: ["--port", "9000", "--path", "/"]
    ports:
      - "9000:9000"
    networks:
      - towers-network

  turn:
    image: instrumentisto/coturn
    container_name: turn
    restart: always
    environment:
      - TURN_USERNAME=admin
      - TURN_PASSWORD=yourStrongPassword
      - TURN_REALM=magic-towers.xyz
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/tcp"
      - "49152-49200:49152-49200/udp"
    command:
      - "--no-cli"
      - "--log-file=stdout"
      - "--fingerprint"
      - "--lt-cred-mech"
      - "--realm=magic-towers.xyz"
      - "--server-name=magic-towers.xyz"
      - "--user=admin:yourStrongPassword"
      - "--min-port=49152"
      - "--max-port=49200"
      - "--no-multicast-peers"
    networks:
      - towers-network


  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot --quiet; sleep 12h & wait $${!}; done'"
    networks:
      - towers-network

  # towers-backend:
  #   image: redishko/towers-backend:latest
  #   restart: always
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - towers-network
  #   environment:
  #     - ALLOWED_ORIGIN=https://app.magic-towers.xyz

  calls-app:
    image: redishko/calls-app:latest
    container_name: calls-app
    restart: always
    ports:
      - "8080:8080"
    networks:
      - towers-network

networks:
  towers-network:
    driver: bridge
